@import './variables/variables';
@import './variables/box';

body{
    /* Background pattern from Subtle Patterns */
    background: url('../img/concrete_seamless.png');
    font-family: 'Lato', sans-serif;
}

#container{
    // display: flex;
    margin: 0 auto;
    max-width: 1200px;
    // border: 1px solid coral;
}


.logo{
    text-align: center;
    padding-top: 20px;
    // border: 1px solid black;
}
nav{
    display: flex;
    justify-content: center;
}
.nav{
    width: 90%;
    background-color: #444444;
    margin-top: 30px;
    height: 42px;
    border-top: 2px solid #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li{
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #bbb;
    // padding: 10px 0;
    &:last-child{
        border-right: none;
    }
    &:hover{
        a{
            background: #fff;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            color: #363b3d;
        }
    }
    a{
        padding: 0 30px;
        text-decoration: none;
        color: #fff;
        display: block;
        line-height: 170%;
        &:hover{
            background: #fff;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            color: #363b3d;
        }
    }
}

.submenu{
    display: none;
    position: absolute;
}

.submenu li{
    width: 130px;
    display: block;
    position: relative;
    z-index: 100;
    background: #fff;
    font-size: 0.9em;
    border: none;
    &:first-child{
        border-top-right-radius: 2px;
        a{
            border-top: none;
        }
    }
    &:last-child{
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    a{
        width: 90%;
        display: block;
        color: #363b3d;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #bbb;
        padding-left: 23px;
        &:hover{
            color: #afc051;
        }
    }
}

nav li:hover > ul{
    display: block;
}


@media (max-width: 600px){
    nav {
        display: none;
    }
}

// slider

.sliderWrap{
    // border: 1px solid darkblue;
    width: 100%;
    min-height: 500px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .sliderPictures{
        // border: 1px solid blue;
        width: 90%;
        min-height: 400px;
        position: relative;
        .sliderPic{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
        }
        .sliderPic.active{
            opacity: 1;
        }
        .sliderPic.pic-1{
            background: url("../img/Slider/slider1.jpg") center center;
            background-size: cover;
        }
        .sliderPic.pic-2{
            background: url("../img/Slider/slider2.jpg") center center;
            background-size: cover;
        }
        .sliderPic.pic-3{
            background: url("../img/Slider/slider3.jpg") center center;
            background-size: cover;
        }
        .sliderPic.pic-4{
            background: url("../img/Slider/slider4.jpg") center center;
            background-size: cover;
        }
        .sliderPic.pic-5{
            background: url("../img/Slider/slider5.jpg") center center;
            background-size: cover;
        }
        .sliderPic.pic-6{
            background: url("../img/Slider/slider6.jpg") center center;
            background-size: cover;
        }
    }
}

.sliderPanelButtons{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    .sliderButton{
        width: 10px;
        height: 10px;
        background-color: #888;
        border-radius: 50%;
        cursor: pointer;
    }
    .sliderButton.active{
        background-color: #afc051;
    }
}

.sliderPic{
    transition: all 0.4s ease-in-out;
}

.sliderButton{
    transition: all 0.6s ease-in-out;
}

@media screen and (max-width:768px){
	.sliderWrap .sliderPictures{
		width:90%;
        height: 30px;
	}
	.sliderWrap .sliderPanelButtons{
		width:180px;
	}
}

.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    div{
        min-height: 250px;
        min-width: 250px;
    }
}

div.sq{
    margin-top: 40px;
}

@media (max-width: 1000px) {
    section.gallery
        &:nth-of-type(7),
        &:nth-of-type(8){
        display: none;
        }
}

.sqPic1:hover,
.sqPic2:hover,
.sqPic3:hover,
.sqPic4:hover,
.sqPic5:hover,
.sqPic6:hover,
.sqPic7:hover,
.sqPic8:hover{
    opacity: 0.8; 
}

.sqPic1{
    border: 1px solid #afc051;
    background-image: url("../img/Gallery/pic1.jpg");
    background-size: cover;
    background-position: center;
}
.sqPic2{
    border: 1px solid #afc051;
    background-image: url("../img/Gallery/pic2.jpg");
    background-size: cover;
    background-position: center;
}
.sqPic3{
    border: 1px solid #afc051;
    background-image: url("../img/Gallery/pic3.jpg");
    background-size: cover;
    background-position: center;
}
.sqPic4{
    border: 1px solid #afc051;
    background-image: url("../img/Gallery/pic4.jpg");
    background-size: cover;
    background-position: center;
}
.sqPic5{
    border: 1px solid #afc051;
    background-image: url("../img/Gallery/pic5.jpg");
    background-size: cover;
    background-position: center;
}
.sqPic6{
    border: 1px solid #afc051;
    background-image: url("../img/Gallery/pic6.jpg");
    background-size: cover;
    background-position: center;
}
.sqPic7{
    border: 1px solid #afc051;
    background-image: url("../img/Gallery/pic7.jpg");
    background-size: cover;
    background-position: center;
}
.sqPic8{
    border: 1px solid #afc051;
    background-image: url("../img/Gallery/pic8.jpg");
    background-size: cover;
    background-position: center;
}

.buttonBuy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 6px 0;
    color: #fff;
    background: #444444;
    outline: none;
    border: none;
    margin-top: 3px;
    i{
        color:#afc051;
    }
    span{
        border-left: 1px solid #fff;
        padding-left: 15px;
        font-size: 12px;
    }
    .price{
        font-size: 9px;
        color: #bbb;
        display: block;
        border: none;
    }
}



footer{
    color: #bbb;
    line-height: 350%;
    margin-top: 40px;
    position: relative;
}

.footerSocials{
    background-color:#444444;
    color: #fff;
    h2{
        color: #bbb;
        text-align: center;
        position: absolute;
        left: 50%;
        width: 400px;
        margin-left: -200px;
    }
}

.footerSocialIcons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 175px;
    width: 700px;
    margin: 0 auto;
    p{
        font-size: 9px;
        color: #afc051;
        position: absolute;
        top:110px;
    }
    div{
        background-color: #888;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }
    i.icon-instagram{
        color: #fff;
        display: flex;
    }
    i.icon-facebook-squared{
        color: #fff;
        display: flex;
    }
    i.icon-youtube-squared{
        color: #fff;
        display: flex;
    }
    i.icon-blogger-rect{
        color: #fff;
        display: flex;
    }
    p{
        // position: absolute;
    }
}

.footerMenu{
    border-top: 1px solid #afc051;
    background-color:#bbb;
    color: #fff;
    text-align: center;
    span{
        font-size: 10px;
        color: #444444;
    }
    ol{
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }
    li{
        display: inline-block;
        font-size: 12px;
        line-height: 150%;
        padding: 0 20px;
    }
}
