%clearfix{
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  content: "";
}

$detColor: #afc051;

@mixin navSideBorder($side, $size, $color){
    border-#{$side}: $size solid $color;
}
